:root {
  /* ----- Submit Button ----- */
  --sub-btn-font-color: white;
  --sub-btn-bg-color: rgb(196, 96, 112);
  --sub-btn-border-color: transparent;
  --sub-btn-font-style: Roboto, sans-serif;
  --sub-btn-bg-focus-color: rgb(187, 5, 35);
  --sub-btn-font-size: 12px;
  --sub-btn-font-focus-size: 13px;

  /* ----- Action Button ----- */
}
